services:
{{#each services}}
  {{this.name}}:
    build:
      context: ./{{this.name}}
      dockerfile: Dockerfile
    ports:
      - "{{this.port}}:8080"
{{/each}}

  locust:
    build: ./locust
    depends_on:
{{#each services}}
      - {{this.name}}
{{/each}}
    environment:
      SERVICE: {{services.0.name}}
    ports:
      - "80:8089"
