/**
* The {{{classname}}} Controller file is a very simple one, which does not need to be changed manually,
* unless there's a case where business logic routes the request to an entity which is not
* the service.
* The heavy lifting of the Controller item is done in Request.js - that is where request
* parameters are extracted and sent to the service, and where response is handled.
*/

const Controller = require('./Controller');
const service = require('../services/{{{classname}}}Service');
const { callOutgoing, outgoingCalls } = require('../outgoingClient');

const sleep = (ms) => {
    return new Promise(resolve => setTimeout(resolve, ms));
};

const simulateOverhead = async (complexity) => {
    // CPU overhead (blocca l'event loop mentre gira)
    let dummy = 0;
    const iterations = complexity * 3000;

    for (let i = 0; i < iterations; i++) {
        const r1 = Math.random();
        const r2 = Math.random();
        dummy += r1 * r2;
    }

    // I/O delay (NON blocca l'event loop)
    const delayMs = (complexity / 200) * 1000; // da secondi a ms
    await sleep(delayMs);

    return dummy;
}





{{#operations}}
    {{#operation}}
    const {{operationId}} = async (request, response) => {
        console.log("[IN] Handling {{operationId}}", {
            params: request.params,
            query: request.query,
            body: request.body
        });

        // ================= SIMULATE COMPLEXITY =================
        //   simulate service workload from 3k to 300k iterations
        const complexity = {{vendorExtensions.x-complexity}};
        await simulateOverhead(complexity);
        console.log("Finished complexity simulation (" + complexity + ") for {{operationId}}");

        // ================= OUTGOING CALLS ======================
        try {
            // in parallel every outgoing call (weight inside outgoingClient)
            await Promise.all(
                outgoingCalls.map(c => callOutgoing(c.operationId))
            );
            // standard OpenAPI Generator flow
            await Controller.handleRequest(
                    request,
                    response,
                    service.{{operationId}}
            );
        } catch (error) {
            console.error("[OUT ERROR]", error.message);
            Controller.sendError(response, error);
        }
    }

    {{/operation}}
{{/operations}}

module.exports = {
{{#operations}}
    {{#operation}}
        {{operationId}},
    {{/operation}}
{{/operations}}
};
