svg {
  overflow: visible;
  position: absolute;
  pointer-events: none;

  path {
    fill: none;
    stroke-width: 4px;
    stroke: var(--primary-color);
    pointer-events: auto;
    z-index: 1;
    cursor: pointer;

    &.selected {
      stroke: var(--p-button-warn-background);
      filter: drop-shadow(0 0 5px var(--p-button-warn-background));
    }
  }
}

.hover-path {
  fill: none;
  stroke-width: 15px;
  pointer-events: auto;
  stroke: transparent;
}

.label, .weight {
  position: absolute;
  //transform: translate(-50%, -50%);
  font-size: 0.8em;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 6px;
  cursor: pointer;
}

.weight {
  font-size: 0.8em;
  max-width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 6px;
  cursor: pointer;
}

.actions {
  position: absolute;
  transform: translate(-50%, -50%);
}

