<p-toolbar>
    <ng-template #start>
        <p-button icon="pi pi-plus" class="mr-2" text severity="secondary"  (onClick)="addNode()"
        pTooltip="add node" tooltipPosition="top"/>
        <p-button icon="pi pi-times" class="mr-2" text severity="secondary" (onClick)="clear()" [disabled]="false"
        pTooltip="clear" tooltipPosition="top"/>
        <p-button icon="pi pi-th-large" text severity="secondary" (onClick)="reorder()" 
        pTooltip="arrange nodes and connections" tooltipPosition="top"/>
        <!-- <p-dropdown 
            [options]="shapes"
            placeholder="Select a shape"
            [autoDisplayFirst]="false"
            [(ngModel)]="selectedShape"
            (onChange)="onShapeChange($event)"
            [style]="{ width: '200px' }">
            <ng-template let-shape pTemplate="item">
                {{ shape }}
            </ng-template>
        </p-dropdown> -->
    </ng-template>

    <ng-template #center>
        {{title}}
    </ng-template>

    <ng-template #end>
        <p-button class="mr-2" icon="pi pi-upload" severity="secondary" (onClick)="download()" 
        pTooltip="export in JSON" tooltipPosition="top"/>
        <p-button class="mr-2" icon="pi pi-download" severity="secondary" (onClick)="onImport()" 
        pTooltip="import from json" tooltipPosition="top"/>
        <p-button label="Save" (onClick)="save()" severity="primary" [disabled]="!diagramTouched"/>
    </ng-template>
</p-toolbar>
<div #editor class="editor-container"></div>
<app-upload-file-dialog
  [(visible)]="uploadFileVisible"
  [multiple]="false"
  [closeOnfinish]="true"
  [fileMimeType]="'application/json'"
  [headerTitle]="'Upload JSON'"
  [description]="'Upload the JSON file to import'"
  (fileParsed)="onFileParsed($event)"
  (onCancel)="onCancelUpload()"
></app-upload-file-dialog>
<p-toast position="bottom-right" key="br" />


<p-toast />
<p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div
                class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
            >
                <i class="pi pi-question !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Cancel" [outlined]="true" (onClick)="onReject()" styleClass="w-32"></p-button>
                <p-button label="Add anyway" (onClick)="onAccept()" styleClass="w-32"></p-button>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>