

.editor-container {
  width: 100%;
  height: calc(100vh - 24rem);

  .fill-area {
    display: table;
    z-index: -1;
    position: absolute;
    top: -320000px;
    left: -320000px;
    width: 640000px;
    height: 640000px;
  }
  
  .background {
    background-color: #ffffff;
    opacity: 1;
    background-image:
      linear-gradient(#f1f1f1 3.2px, transparent 3.2px),
      linear-gradient(90deg, #f1f1f1 3.2px, transparent 3.2px),
      linear-gradient(#f1f1f1 1.6px, transparent 1.6px),
      linear-gradient(90deg, #f1f1f1 1.6px, #ffffff 1.6px);
    background-size:
      80px 80px,
      80px 80px,
      16px 16px,
      16px 16px;
    background-position:
      -3.2px -3.2px,
      -3.2px -3.2px,
      -1.6px -1.6px,
      -1.6px -1.6px;
  }


  rete-context-menu {
    width: 320px;
    context-menu-search input.search {
      background: grey;
    }
    context-menu-item.block {
      background: grey;
    }
  }
  
  rete-minimap {
    background-color: #1e1e1e !important;
    border: 1px solid #555;
  
    minimap-mini-viewport {
      background-color: #20a051 !important;
      border: 1px solid #157a52;
    }
  }
  
}

.editor-context-menu {
  min-width: 300px;
  height: calc(100vh - 24rem);
}

::ng-deep rete-minimap {
  position: absolute !important;
  bottom: 10px;
  left: 10px;
  top: auto;
  right: auto;
  z-index: 10; // opzionale, se serve sovrapporlo ad altri elementi
}


