<div class="card">
    <div class="font-semibold text-xl mb-8">Account Page</div>

    <div class="flex flex-col gap-8">
        <div class="flex">
            <div class="w-20 flex-none font-medium">ID</div>
            <div class="w-50 flex-1 text-surface-400 dark:text-surface-400">{{account?.id}}</div>
        </div>
        <div class="flex">
            <div class="w-20 flex-none ">Username</div>
            <div class="w-50 flex-1 text-surface-400 dark:text-surface-400">{{account?.username}}</div>
        </div>
        <div class="flex">
            <div class="w-20 flex-none ">Firstname</div>
            <div class="w-50 flex-1 text-surface-400 dark:text-surface-400">{{account?.firstname}}</div>
        </div>
        <div class="flex">
            <div class="w-20 flex-none ">Lastname</div>
            <div class="w-50 flex-1 text-surface-400 dark:text-surface-400">{{account?.lastname}}</div>
        </div>
        <div class="flex">
            <div class="w-20 flex-none ">Email</div>
            <div class="w-50 flex-1 text-surface-400 dark:text-surface-400">{{account?.email}}</div>
        </div>
        <div class="flex">
            <div class="w-20 flex-none ">Roles</div>
            <div class="w-50 flex-1 text-surface-400 dark:text-surface-400">{{account?.roles| json}}</div>
        </div>
        
    </div>
</div>