<div class="card">
    <h1>Microsynth</h1>

    <h3 class="text-justify text-surface-300">Una piattaforma web per la generazione automatica di sistemi a microservizi sintetici</h3>
    <p class="mt-4 text-xl leading-10 text-justify text-surface-500 dark:text-surface-400">
        Microsynth è una piattaforma web che consente di modellare, generare ed esportare sistemi a microservizi a partire da una rappresentazione grafica ad alto livello.
        L’obiettivo è fornire un ambiente controllato per sperimentazione, benchmarking e studio di architetture distribuite, riducendo drasticamente il tempo necessario alla creazione di sistemi complessi.    
    </p>

    <img
        src="img/microsynth_home_display_800.png"
        alt="Microsynth overview"
        class="w-full mt-8 rounded-lg"
    />

</div>
