<div class="card">
    <h1>Microsynth</h1>

    <h3 class="text-justify text-surface-300">A web platform for the automatic generation of synthetic microservice systems</h3>
    <p class="mt-4 text-xl leading-10 text-justify text-surface-500 dark:text-surface-400">
        Microsynth is a web platform that enables the modeling, generation, and export of microservice-based systems starting from a high-level graphical representation. 
        The goal is to provide a controlled environment for experimentation, benchmarking, and the study of distributed architectures, drastically reducing the time required to create complex systems.
    </p>

    <img
        src="img/microsynth_home_display_800.png"
        alt="Microsynth overview"
        class="w-full mt-8 rounded-lg"
    />

</div>
