<p-breadcrumb class="max-w-full" [model]="items()">
  <ng-template #item let-item>
    <ng-container *ngIf="item.route; else elseBlock">
      <a [routerLink]="item.route" class="p-breadcrumb-item-link">
        <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
        <span class="text-primary font-semibold">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #elseBlock>
      <a [href]="item.url">
        <span class="text-color">{{ item.label }}</span>
      </a>
    </ng-template>
  </ng-template>
</p-breadcrumb>

<div class="card">
  <div
    class="font-semibold text-xl mb-4"
    (click)="changeName = true"
    *ngIf="!changeName"
  >
    {{ diagram?.name }}
  </div>
  <div class="my-4">
    <!-- <p-button [label]="diagram?.name" text (click)="changeName=true" *ngIf="!changeName"/> -->
    <p-inputgroup *ngIf="changeName">
      <input pInputText [value]="nameDraft" class="w-[25rem]" #nameInputText />
      <p-inputgroup-addon>
        <button
          pButton
          icon="pi pi-save"
          (click)="onNameChange(nameInputText.value)"
        ></button>
        <button pButton icon="pi pi-times" (click)="onCancelName()"></button>
      </p-inputgroup-addon>
    </p-inputgroup>
  </div>
  
  <div class="h-full w-full p-6">
    <app-editor
      #editor
      [title]="diagram?.name"
      [diagram]="diagramDataDraft"
      (editorAreaCleared)="onEditorAreaCleared($event)"
      (onSave)="onSave($event)"
      (onGenerate)="onGenerate($event)"
      (onDockerDownload)="onDockerDownload($event)"
      [exportFormatHandler]="exportFormatHandler"
    ></app-editor>
  </div>
</div>

<p-toast position="bottom-right" key="br" />
