package {{packageName}};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.Map;
import java.util.HashMap;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.http.HttpStatus;

import org.openapitools.api.DefaultApiDelegate;
import org.openapitools.api.outgoing.OutgoingCallService;


{{#modelImports}}
import org.openapitools.model.{{.}};
{{/modelImports}}



@Service
public class {{className}} implements DefaultApiDelegate {
    private static final Logger log = LoggerFactory.getLogger({{className}}.class);

    @Autowired
    private OutgoingCallService outgoingCallService;

{{#delegateOperations}}
    @Override
    public ResponseEntity<Object> {{operationId}}({{methodSignature}}) {
        {{{logLine}}}

        boolean allOk = true;
        try {
                // ================= OUTGOING CALLS =================
                {{#outgoingCalls}}
                Map<String, Object> oc_params_{{operationId}} = new HashMap<>();
                {{#parameters}}
                    try {
                        oc_params_{{operationId}}.put("{{name}}",{{{jsonValueLiteral}}});
                    } catch (Exception e) {
                        oc_params_{{operationId}}.put("{{name}}", null);
                    }
                {{/parameters}}

                outgoingCallService.call(
                        "{{operationId}}",
                        oc_params_{{operationId}}
                );
                {{/outgoingCalls}}
                // ==================================================

                log.info("All outgoing respond succesfully");
                return ResponseEntity.ok().build();
            } catch (Exception e) {
                log.error("Outgoing call failed {}", e);
                return ResponseEntity
                    .status(HttpStatus.INTERNAL_SERVER_ERROR)
                    .body(Map.of("message", e.getMessage()));
            }
    }
 {{/delegateOperations}}

}