package {{packageName}};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.Map;
import java.util.HashMap;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;

import org.openapitools.api.DefaultApiDelegate;
import org.openapitools.api.outgoing.OutgoingCallService;

{{#modelImports}}
import org.openapitools.model.{{.}};
{{/modelImports}}



@Service
public class {{className}} implements DefaultApiDelegate {
    private static final Logger log = LoggerFactory.getLogger({{className}}.class);

    @Autowired
    private OutgoingCallService outgoingCallService;

{{#delegateOperations}}
    @Override
    public ResponseEntity<Object> {{operationId}}({{methodSignature}}) {
        {{{logLine}}}

        boolean allOk = true;

        // ================= OUTGOING CALLS =================
        {{#outgoingCalls}}
        Map<String, Object> oc_params_{{operationId}} = new HashMap<>();
        {{#parameters}}
            try {
                oc_params_{{operationId}}.put("{{name}}",{{{jsonValueLiteral}}});
            } catch (Exception e) {
                oc_params_{{operationId}}.put("{{name}}", null);
            }
        {{/parameters}}

        boolean ok_{{operationId}} = outgoingCallService.call("{{operationId}}", oc_params_{{operationId}});
        log.info("response from {{operationId}} " + ok_{{operationId}});

        allOk = allOk && ok_{{operationId}};

        {{/outgoingCalls}}
        // ==================================================

        if (allOk) {
            log.info("All outgoing respond succesfully");
            return ResponseEntity.ok().build();
        }
        log.info("Some outgoing calls respond with error");
        return ResponseEntity.status(500).build();
    }
 {{/delegateOperations}}

}