<app-floating-configurator />
    <div
      class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden"
    >
      <div class="flex flex-col items-center justify-center">
        <div
          style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)"
        >
          <div
            class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20"
            style="border-radius: 53px"
          >
            <div class="text-center mb-8">
              <app-logo width="160" height="160" />
              <div
                class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4"
              >
                Welcome to MicroSynth!
              </div>
              <span class="text-muted-color font-medium"
                >Register to continue</span
              >
            </div>

            <div class="flex flex-col gap-4 mb-4">
              <!-- <p-message severity="success" *ngIf="signupSuccess"
                >Registrazione effettuata! Verrai reinderizzato alla pagina di
                login a breve</p-message
              >
              <p-message severity="error" *ngIf="signupError">{{
                signupErrorMessage | json
              }}</p-message> -->
            </div>

            <div>
              <form [formGroup]="signupForm">
                <label
                  for="firstname1"
                  class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
                  >Firstname</label
                >
                <input
                  pInputText
                  id="firstname1"
                  type="text"
                  placeholder="Firstname"
                  class="w-full md:w-[30rem]"
                  formControlName="firstname"
                />
                <small class="text-red-500" *ngIf="submitted && signupForm.controls['firstname'].errors?.['required']">
                    The firstname is required.
                </small>

                <label
                  for="lastname1"
                  class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
                  >Lastname</label
                >
                <input
                  pInputText
                  id="lastname1"
                  type="text"
                  placeholder="Lastname"
                  class="w-full md:w-[30rem]"
                  formControlName="lastname"
                />
                <small class="text-red-500" *ngIf="submitted && signupForm.controls['lastname'].errors?.['required']">
                    Lastname required.
                </small>

                <label
                  for="username1"
                  class="block text-surface-900 dark:text-surface-0 text-xl font-medium"
                  >Username</label
                >
                <p-iconfield>
                  <p-inputicon class="pi pi-user" />
                  <input
                    pInputText
                    id="username1"
                    type="text"
                    placeholder="Username"
                    class="w-full"
                    formControlName="username"
                  />
                </p-iconfield>
                <small class="text-red-500" *ngIf="submitted && signupForm.controls['username'].errors?.['required']">
                    Username required.
                </small>

                <label
                  for="password1"
                  class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
                  >Password</label
                >
                <p-iconfield>
                  <p-inputicon class="pi pi-key" />
                  <p-password
                    id="password1"
                    formControlName="password"
                    placeholder="Password"
                    [toggleMask]="true"
                    [fluid]="true"
                    [feedback]="false"
                  ></p-password>
                </p-iconfield>
                <small class="text-red-500" *ngIf="submitted && signupForm.controls['password'].errors?.['required']">
                    Password required.
                </small>

                <label
                  for="email1"
                  class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
                  >Email</label
                >
                <p-iconfield>
                  <p-inputicon class="pi pi-inbox" />
                  <input
                    pInputText
                    id="email1"
                    type="text"
                    placeholder="info@email.com"
                    class="w-full"
                    formControlName="email"
                  />
                </p-iconfield>
                <small class="text-red-500" *ngIf="submitted && signupForm.controls['email'].errors?.['required']">
                    Email required
                </small>

                <div
                  class="flex items-center justify-between mt-2 mb-8 gap-8"
                ></div>
                <p-button
                  label="Sign up"
                  styleClass="w-full mb-8"
                  (onClick)="onSignup()"
                  [disabled]="!signupForm.valid"
                ></p-button>
                <p-button
                  label="Sign in"
                  styleClass="p-button-outlined w-full"
                  (onClick)="onLogin()"
                ></p-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-toast position="bottom-right" key="br" />